/*-------------------меню гамбургер---------------------*/
.hamburger-menu {
	position: absolute;
}
/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
	display: flex; /* используем flex для центрирования содержимого */
	align-items: center;  /* центрируем содержимое кнопки */
	position: absolute;
	top: 100px;
	left: 20px;
	width: 31px;
	height: 31px;
	cursor: pointer;
	z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 6px;
	border-radius: 3px;
	background-color: #949FA3;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -10px;
}
.menu__btn > span::after {
	content: '';
	top: 10px;
}
/* контейнер меню */
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 130px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
	z-index: 1;
}
/* элементы меню */
.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-size: 20px;
	text-decoration: none;
	transition-duration: .25s;
	font-family: "Poppins", sans-serif;
}
.menu__item:hover {
	background-color: #80b7b3;
	color: #fff;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}

@media (max-width: 768px) {
	.menu__box {
		padding: 100px 0;
	}
	.menu__btn {
		top: 20px;
	}
}
@media (max-width: 480px) {
	.menu__box {
		padding: 80px 0;
	}
	.menu__btn {
		top: 10px;
	}

}